@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

// FlexInfoWrap
.flexInfoWrap {
	width: 100%;
	@include mixins.justify_width;

	&.center {
		align-items: center;
	}
	&.end {
		align-items: flex-end;
	}

	.leftArea {
		flex: 1 1 auto;
		min-width: 0;
		 > * { width: 100% }
	}

	.rightArea {
		margin-left: auto;
		flex: 0 0 auto;
		text-align: right;

		&.clear {
			margin-left: 0;
			text-align: left;
		}
	}

	&:has(.clear) {
		.leftArea {
			flex: initial;
			flex-shrink: 0;
		}
	}
}