@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

///* s: ctitle */
//국문
.ctitle {
	&.sm { // 15px
		@include mixins.font_size_lg;
	}

	&.md { // 16px
		@include mixins.font_size_xl;
	}

	&.lg { // 18px
		@include mixins.font_size_2xl;
	}

	&.xl { // 22px
		@include mixins.font_size_4xl;
	}

	&.xxl { // 26px
		@include mixins.font_size_5xl;
	}

	//영문
	&.eng {
		&.xxs { // 18px
			@include mixins.font_size_2xl;
			font-weight: variables.$fontWeightEngBold;
			font-family: variables.$fontEngDefault;
		}

		&.xs { // 24px
			@include mixins.font_eng_size_xs;
		}

		&.sm { // 26px
			@include mixins.font_eng_size_sm;
		}

		&.md { // 28px
			@include mixins.font_eng_size_md;
		}

		&.lg { // 32px
			@include mixins.font_eng_size_lg;
		}
	}
}
// Todo : 링크성 타이틀 페이지작업시 재작업필요
//링크성 타이틀
/*.ctitleLink {
	@extend .ctitle;
}*/

/* e: ctitle */


/* s: stitle */
.stitle {
	&.sm { // 13px
		@include mixins.font_size_sm('md');
	}

	&.md { // 14px
		@include mixins.font_size_md('md');
	}

	&.lg { // 16px
		@include mixins.font_size_xl;
	}

	&.xl { // 18px
		@include mixins.font_size_2xl;
	}
}
/* e: stitle */

.ctitleSub {
	margin-bottom: 10px;
	color: variables.$textColorG;
	@include mixins.font_size_md('md');
}

.ctitleSubMd {
	margin-bottom: 6px;
	color: variables.$textColorG;
	@include mixins.font_size_md;
}

.ctitleSubLg {
	margin-bottom: 6px;
	@include mixins.font_size_xl;
}

.ctitleSubSm {
	margin-bottom: 6px;
	@include mixins.font_size_sm;
	color: variables.$textColorDG;
}
