@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.wrapper {
	@include mixins.size_wrap_width;
	background: variables.$colorWhite;
	min-height: var(--reVh, 1vh);
	padding-bottom: calc(#{variables.$dockerHeight} + env(safe-area-inset-bottom));

	.containerWrapper {
		.contentWrapper {
			> .__contBox:last-child {
				padding-bottom: 100px !important;
			}
		}
	}

	.skipNav {
		position: absolute;
		font-size: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1000;

		a {
			position: absolute;
			display: inline-block;
			color: variables.$colorWhite;
			width: 100%;
			padding: 10px;
			background: variables.$colorBlack;
			text-align: center;
			font-size: variables.$fontSizeSm;
			left: 0;
			right: 0;
			top: 0;
			box-sizing: border-box;

			&:not(:focus) {
				@include mixins.prefix(transform, translateY(-100%));
			}
		}
	}

	&.main {
		.containerWrapper {
			margin-top: -110px;
		}
	}

	&.noDocker {
		padding-bottom: 0;

		.containerWrapper {
			padding-bottom: env(safe-area-inset-bottom);
		}
	}

	&.transparent {
		.containerWrapper {
			margin-top: -60px;
		}
	}
}

// popup 오픈 시
body.popupOpen {
	overflow: hidden;
	touch-action: none;

	.wrapper {
		overflow: hidden;
		pointer-events: none;
	}
}