@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

// ===============================
// Typography
// ===============================

// colors
.fcSpot { color: variables.$colorGreen !important; }
.fcRed { color: variables.$colorRed !important; }
.fcGold { color: variables.$colorGold !important; }
.fcBlack { color: variables.$colorBlack !important; }
.fcDarkGray { color: variables.$textColorDG !important; }
.fcGray { color: variables.$textColorG !important; }
.fcWhite { color: variables.$colorWhite !important; }
.fcSell { color: variables.$colorSell !important; }
.fcBand { color: variables.$colorBand !important; }

// font weight
.fwLt { font-weight: variables.$fontWeightLight !important; }
.fwMd { font-weight: variables.$fontWeightMedium !important; }
.fwSb { font-weight: variables.$fontWeightSemibold !important; }

// line height
.lhXl { line-height: variables.$fontSizeXlLineHeight !important; }
.lhLg { line-height: variables.$fontSizeLgLineHeight !important; }
.lhMd { line-height: variables.$fontSizeMdLineHeight !important; }
.lhSm { line-height: variables.$fontSizeSmLineHeight !important; }
.lhXs { line-height: variables.$fontSizeXsLineHeight !important; }


// text align
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }

.vaTop { vertical-align: top !important; }
.vaMid { vertical-align: middle !important; }

// text decoration
.tdUdl { text-decoration: underline !important; }
.tdLine { text-decoration: line-through !important; }

.ellipsis {
	@include mixins.ellipsis;
}

// ellipsis
.multiEllipsis {
	@include mixins.multi_ellipsis(variables.$fontSizeSmLineHeight);
	font-weight: inherit;
}

// offscreen
.offscreen {
	position: absolute !important;
	display: block;
	overflow: hidden;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	font-size: 14px !important;
}

// btnLink
.btnLink {
	z-index: 1;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
}

// spacing

// sticky
.stickyWrap {
	position: relative;
	width: 100%;
	height: auto;

	.sticky {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
	}
}